@import "vendor/normalize.css";
@import 'vendor/swiper.css';
@import 'nib';
*
	box-sizing:border-box;
body
	background-image:url(../img/fondoBody2.png)
	font-size:16px;
	font-family: 'Raleway', sans-serif;

.Popup, .Popup-login
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:transparent;
	z-index:-1;
	display:flex;
	justify-content:center;
	align-items:center;
	//********************** Diseño Registro de usuario y mecanico ********************
	.Registro
		//background:#fff;
		border:2px solid white;
		border-radius:10px;
		display:flex;
		text-align:right;
		padding:.8em 0;
		color:#fff;
		form
			div
				display: flex;
				justify-content: space-between;
				margin-bottom:1em;
				label
					width:4px;
				input
					border:0;
					border-radius:.5em;
					color:black;
					width:8em;
					padding-left:0.3em;
				select
					width: 8em;
					height: 1.5em;
					color: black;
					border-radius: 8px;
				button
					position: absolute;
					left:0;
					right:0;
					bottom:0;
					margin: 0 auto;
					background:#107bd6;
					height:2em;
					width:7em;
					border-radius:15px;
					border:0;
					transition:background .5s;
				button:hover
					background:#014075;
		figure
			width:5em;
			height:5em;
			border-radius:100%;
			margin:0 auto;
			background-size:cover;
			border:4px solid white;
			margin-bottom:1em;
		h2
			margin:0 0 1em;
		&-usuario
			padding:1em;
			border-right:2px solid white;
			&-img
				background:url(../img/usuario.jpg);
		&-mecanico
			padding:1em;
			&-img
				background:url(../img/meca.png);
		article
			position: relative;
			padding-bottom: 4em;
	//********************** Diseño login ********************
	.Login
		border:2px solid white;
		border-radius:10px;
		padding:2em 4em 5em;
		color:white;
		text-align:center;
		&-usuario
			padding:1em;
			figure
				width:6em;
				height:6em;
				border-radius:100%;
				margin:0 auto;
				background-size:cover;
				border:4px solid white;
				margin-bottom:1em;
				background:url(../img/typer.jpg)
				background-size:cover;
			form
				div
					position:relative;
					display: flex;
					justify-content: space-between;
					margin-bottom:1em;
					input
						border:0;
						border-radius:.5em;
						width:8em;
						margin-left:2em;
						color:black;
						padding-left:0.3em;
					button
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						margin: 0 auto;
						width: 7em;
						height: 2em;
						border-radius: 8pc;
						border: 0;
						background:#107bd6;
						transition:background .5s;
					button:hover
						background:#014075;





.Contenedor
	background:white;
	width:90%;
	max-width:900px;
	margin:0 auto;
	.Header
		width:100%;
		height:60px;
		background:#fff;
		padding:1em 3em;
		&-title
			margin:0;
			float:left;
		&-btn
			float:right;
			&-registrarse,
			&-login
				border:0;
				border-radius:8px;
				padding:.5em 1em;
				background:#107BD6;
				font-size:.8em;
				color:#fff;
				transition:background .5s;
			&-registrarse:hover,
			&-login:hover
				background:#014075;
			&-registrarse
				margin-right:.6em;
	.Banner
		width:100%;
		height:500px;
		background: black;
		.swiper-slide
			position:relative;
			h2
				margin:0;
				position:absolute;
				bottom:0;
				background:rgba(black,.6);
				color:white;
				left:0;
				right:0;
				text-align:center;
				padding:1em 0;
			img
				width:100%;
				height:100%;
	.About
		display:flex;
		justify-content:space-around;
		padding:1em 0;
		&-Info
			width:10em;
			text-align:center;
			box-shadow:0px 0px 20px 0px rgba(black,.6)
			padding:6px 6px;
			h3
				border-bottom:1px solid black;
				display:inline-block;
				padding-bottom:.3em;
				margin:0;
			.IconoFace
				display:block;
				margin-top:15px;
				img
					width:50px;
					height:50px;