doctype html
html(lang="es")
	head
		meta(charset="utf8", name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1")
		title Responsive Desing
		link(rel="stylesheet", href="css/app.css")


body
	header
		p Sign up
		p Login
		section
			//swiper
			div.swiper-container
				div.swiper-wrapper
					div.swiper-slide
						h2 Perfil de usuario
					div.swiper-slide
						h2 Perfil de Mecanico
					div.swiper-slide
						h2 Registra tus manteniminetos
					div.swiper-slide
						h2 Historial de manteniminetos
					div.swiper-slide
						h2 Registra tus clientes
			div.swiper-pagination
		section
			h2 Agenda a tus clientes
			a start now
		section
			h2 Un buen amigo nunca deja de trabajar en su proyecto. Siempre hay lugar para mejorar o retocar. cuida tu auto!
			a start now 

		//add jquery
		script(src="js/jquery.js")
		//swiper JS 
		script(src="js/swiper.js")
		script(src="js/app.js")

